{
    skip_install_trust

    log {
        output stdout
        format console
        level ERROR
    }

    frankenphp {
        php_ini memory_limit 512M

        worker {
            file ./public/index.php
            env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
            watch
        }
    }
}

:80, :443 {
    root * /app/public
    encode zstd br gzip

    mercure {
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
    }

    vulcain

    # Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
    header ?Permissions-Policy "browsing-topics=()"

    # Catch requests that are NOT Mercure and NOT static files
    @phpRoute {
        not path /.well-known/mercure*
        not file {path}
    }

    # Rewrite those requests to index.php
    rewrite @phpRoute index.php

    # Process the resulting index.php file using FrankenPHP worker
    @frontController path index.php
    php @frontController

    # Ensure files like index.php cannot be directly browsed
    file_server {
        hide *.php
    }
}