{
    log {
        output stdout
        format console
        level ERROR
    }

    frankenphp {
        php_ini memory_limit 512M

        worker {
            file ./public/index.php
            env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
            watch
        }
    }
}

localhost, :80, :443 {
    tls internal

    root * /app/public
    encode zstd br gzip

    vulcain
    mercure {
        publisher_jwt {env.MERCURE_JWT_SECRET}
        subscriber_jwt {env.MERCURE_JWT_SECRET}
    }

    php_server
}