name: CI/CD Pipeline - Test - test

on:
  push:
    branches: [main, staging, TEM-71]
  workflow_dispatch:
  pull_request:
    branches: [main, staging, TEM-71]
    paths:
      - 'Dockerfile'
      - 'compose.yml'
      - 'composer.json'
      - 'composer.lock'
jobs:
  build-staging:
    name: Build & Push Staging Image
    if: github.ref_name != 'main'
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/docker-build.yml@TEM-71
    permissions:
      contents: read
      packages: write
    with:
      environment: staging
      working_directory: .
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      CADDY_MERCURE_JWT_SECRET: ${{ secrets.MERCURE_JWT_SECRET }}

  build-production:
    name: Build & Push Production Image
    if: github.ref_name == 'main'
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/docker-build.yml@TEM-71
    permissions:
      contents: read
      packages: write
    with:
      environment: production
      working_directory: .
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      CADDY_MERCURE_JWT_SECRET: ${{ secrets.MERCURE_JWT_SECRET }}

  security-scan:
    name: Security Scan
    needs: [build-staging, build-production]
    if: always() && (needs.build-staging.result == 'success' || needs.build-production.result == 'success')
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/trivy-scan.yml@TEM-71
    permissions:
      security-events: write
      contents: read
      packages: read
      pull-requests: write
    with:
      image_name: ${{ needs.build-image.outputs.image_url }}
      image_tag: ${{ needs.build-image.outputs.image_tag }}
      custom_message: "Project: API | Branch: ${{ github.ref_name }}"
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.PR_EMERGENCY_WEBHOOK_URL }}
      GHCR_PAT: ${{ secrets.GHCR_PAT }}