name: CI/CD Pipeline - Test - test

on:
  push:
    branches: [main, staging, TEM-71]
  workflow_dispatch:
  pull_request:
    branches: [main, staging, TEM-71]

jobs:
  build-image:
    name: Build & Push Docker Image
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/docker-build.yml@TEM-71
    permissions:
      contents: read
      packages: write
    with:
      image_name: ghcr.io/${{ github.repository_owner }}/jamly-api
      build_target: frankenphp_staging
      branch: ${{ github.ref_name }}
      should_push: true
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      MERCURE_JWT_SECRET: ${{ secrets.MERCURE_JWT_SECRET }}

  security-scan:
    name: Security Scan
    needs: build-image
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/trivy-scan.yml@TEM-71
    permissions:
      security-events: write
      contents: read
      packages: read
      pull-requests: write
    with:
      image_name: ${{ needs.build-image.outputs.image_url }}
      image_tag: ${{ needs.build-image.outputs.image_tag }}
      custom_message: "Project: API | Branch: ${{ github.ref_name }}"
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.PR_EMERGENCY_WEBHOOK_URL }}
      GHCR_PAT: ${{ secrets.GHCR_PAT }}