name: Trivy Scan API

on:
  push:
    branches: [main, staging, TEM-71]
  workflow_dispatch:
  pull_request:
    branches: [main, TEM-71]

jobs:
  security-scan:
    name: Trivy Security Scan
    uses: T-ESP-ASSTAGJ/infra/.github/workflows/trivy-scan.yml@TEM-71
    with:
      trivy_config_file: '.github/trivy.yaml'
    secrets:
      discord_webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}